<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checar Livro</title>
</head>
<body>
    {% block content %}
    <h2>{{ livro.titulo }} - {{ livro.autor }}</h2>
    <p>ISBN: {{ livro.isbn }}</p>
    {% if ja_favorito %}
        <p>Este livro já está nos favoritos.</p>
    {% else %}
        <a href="{% url 'favoritar_livro' livro.id %}">Adicionar aos favoritos</a>
    {% endif %}
    <a href="{% url 'listar_livros_favoritos' %}">Ver favoritos</a>
    <a href="{% url 'adicionar_livro' %}">Adicionar outro livro</a>
    {% endblock %}
    </body>
</html>